<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'visit')}">

  <body>

    <h2>Visits</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 50%">Description</th>
            <th style="width: 50%">Visit Date</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="visit : ${visits}">
                <td th:text="${visit.description}"/>
                <td th:text="${visit.date}"/>  
            </tr>
        </tbody>    
    </table>           
    </body>
</html>
