<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Clinic Owners Index Page</title>
</head>
<body>
    <h1 th:text="'List of Owners'">This is the Owners's Index Page</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px">ID</th>
                <th style="width: 150px">First Name</th>
                <th style="width: 150px">Last Name</th>
                <th style="width: 150px">Age</th>
                <th style="width: 150px">Pets</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Some</td>
                <td th:text="${owner.lastName}">One</td>
                <td th:text="${owner.age}">1</td>
                <td th:each="pet : ${owner.pets}">
                    <p th:text="${pet.petName}">Pet Name </p>  
                    <p th:each="visit : ${pet.visits}">
                        <a>Visited on => </a><a th:text="${visit.date}">01-01-1900</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>