<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Clinic Vets Index Page</title>
</head>
<body>
    <h1 th:text="'List of Vets'">This is the Vets's Index Page</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td style="width: 150px">ID</td>
                <td style="width: 150px">First Name</td>
                <td style="width: 150px">Last Name</td>
                <td style="width: 150px">Years Of Practice</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}">1</td>
                <td th:text="${vet.firstName}">Some</td>
                <td th:text="${vet.lastName}">One</td>
                <td th:text="${vet.yearsOfPractice}"><1/td>
            </tr>
        </tbody>
    </table>
</body>
</html>