<!DOCTYPE html>
<html lang="en" xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Clinic Vets Index Page</title>
</head>
<body>
    <h1 th:text="'List of Vets'">This is the Vets's Index Page</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Years Of Practice</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}">1</td>
                <td th:text="${vet.firstName}">Some</td>
                <td th:text="${vet.lastName}">One</td>
                <td th:text="${vet.yearsOfPractice}"><1/td>
            </tr>
        </tbody>
    </table>
</body>
</html>